[Unit]
Description=Keyboard Chattering Fix service
# Tell systemd to stop this service before going to sleep, and start it after waking up
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target

[Service]
# Wait 3 seconds before starting the script to give the USB bus and Wayland time to fully wake up
ExecStartPre=/bin/sleep 3
# Change ExecStart to the absolute path of the file, executing keyboard_chattering.sh
ExecStart=<absolute/path/to/file/keyboard_chattering.sh>

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target suspend.target hibernate.target hybrid-sleep.target
